<div class="skills left">
  Contactez-moi <br />
  06 46 03 94 73 <br />
  gfablet@gmail.com <br />
  34 allée des Flamboyants, Le Verger d’Iris Bât B 83100 TOULON <br />
  Scooter 31 ans <br />
  Mobilité régionale
</div>
<div class="center">
  <h2 class="underline-blue">Guillaume FABLET</h2>
  <h2 class="blue-text">DEVELOPPEUR JUNIOR</h2>
  <span class="title blue-text">P</span><span class="title">ROFIL</span>
  <p class="paragraph">
    Passionné par le développement informatique, je suis en cours de
    reconversion professionnelle et j’ai suivi récemment deux formations dans ce
    sens. D'autant plus motivé suite à un stage de développement web de deux
    mois, je souhaite mettre à profit mes compétences, tout en les développant
  </p>
  <span class="title blue-text">E</span><span class="title">XPERIENCES</span>
  <br />
  <div class="paragraph">
    <ul class="experience">
      <li class="sub-category">
        <button class="sub-category__button" id="btn_xp1">
          Octobre 2019 - Novembre 2019 &emsp;
          <strong>Stage développeur web</strong>
        </button>
        <div>
          <ul class="experience__details" id="xp1">
            <li>Création d’un flux de statistiques d’abonnements</li>
            <li>Correctifs de bugs du site www.laprovence.com</li>
            <li></li>
          </ul>
          Journal La Provence - Marseille(13)
        </div>
      </li>
      <li class="sub-category">
        Juillet 2019 - Septembre 2019
        <strong>Formation Angular/Symfony 3WA</strong>
      </li>
      <li class="sub-category">
        Janvier 2019 - Avril 2019 <strong>Formation GRETA</strong>
      </li>
      <li class="sub-category">
        <strong>Projets personnels</strong>
      </li>
      <li class="sub-category">
        Juin 2018 - Août 2018 <strong>Stage de BTS Electronique</strong>
      </li>
    </ul>
    -Développement d’un site de critiques de films -Création d’une API REST
    Symfony avec frontend Angular Durant un projet de groupe : -Développement
    d’un serveur Java utilisant le protocole TCP et communiquant avec une base
    de données MySQL -Création d’une application Android communiquant avec ce
    serveur 2019 Quelques exemples de mes projets : - Calculatrice, ardoise
    magique, jeu du pendu sous Java - Calculatrice, révision de tables de
    multiplications sous Android - Jeu de rôle utilisant le MVC sous C#
    -Programmation de microcontrôleurs d’un banc de test en langage C Autres
    expériences : 2008 - 2019 Emplois de manutention, gardien de résidence,
    câbleur électronique
  </div>
</div>
