/* You can add global styles to this file, and also import other style files */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0px;
}
.center {
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}
